@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

p {
  color: #abb2bf;
}

code {
  color: #282c34;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  border-spacing: 0;
  text-align: center;
  border-radius: 10px;
  -webkit-clip-path: inset(0px round 10px 10px 10px 10px);
  clip-path: inset(0px round 10px 10px 10px 10px);
}

th {
  padding: 10px;
  background-color: #c678dd;
}

td {
  padding: 10px;
  background-color: #98c379;
}

h1 {
  color: #282c34;
  font-weight: bold;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #abb2bf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

a {
  color: #c678dd;
}
